<!DOCTYPE html>
<html>
<head>
    <title>Sticky notes app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="custom.js"></script>
    <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>


<body class="w3-blue" ng-app="myNoteApp" ng-controller="myNoteCtrl">
<h1 class="w3-center">Sticky notes Angular app</h1>
<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col s6" id="app">
            <textarea class="w3-text-black" ng-click="login()" ng-model="message" rows="20" ng-change="maxLimit()" ng-disabled="block" style="width: 100%;"></textarea>
        </div>
    </div>
</div>
<p class="w3-center">You have {{letters}} letters more to write</p>
<p align="center">
<button class="w3-btn" ng-click="save()">Save</button>
<button class="w3-btn" ng-click="clear()">Clear</button>
</p>
<script src="myNoteApp.js"></script>
<script src="myNoteCtrl.js"></script>


</body>
</html>
